<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>

    <link rel="stylesheet" href="/static/css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>区域老年人健康大数据可视化大屏</title>
</head>

<body>

    <div id = "wordcloud"></div>
</body>

    <script src="/static/js/wordcloud.js"></script>

</html>
