<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健康大数据</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/visual.css">

    <!-- js -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/chartMap.js"></script>

    <script src="../static/js/aiChat.js"></script>
</head>

<body class="ksh">
    <div id="load">
        <!-- 加载动画 -->
        <div class="load_img">
            <img class="jzxz1" src="../static/images/jzxz1.png">
            <img class="jzxz2" src="../static/images/jzxz2.png">
        </div>
    </div>

    <div class="head_top" style="cursor:pointer;">
        <img class="img-responsive" src="../static/images/jcdsj_logo.png">
    </div>

    <div class="visual">
        <div class="visual_left">
            <div class="visual_box">
                <div class="visual_title">
                    <span>健康评分</span>
                    <img src="../static/images/ksh33.png">
                </div>
                <div class="visual_chart" id="main1"></div>
            </div>

            <div class="visual_box">
                <div class="visual_title">
                    <span>待定</span>
                    <img src="../static/images/ksh33.png">
                </div>
                <div class="visual_chart" id="main2"></div>
            </div>

            <div class="visual_box">
                <div class="visual_title">
                    <span>待定</span>
                    <img src="../static/images/ksh33.png">
                </div>
                <div class="visual_chart sfzcll">
                    <div class="sfzcll_pos_box">
                        <!-- 方框 -->
                        <!-- <div class="sfzcll_box">
                            <img class="sfzcll_bkJk" src="../static/images/ksh34.png">
                            <img class="sfzcll_bkJk" src="../static/images/ksh34.png">
                            <img class="sfzcll_bkJk" src="../static/images/ksh34.png">
                            <img class="sfzcll_bkJk" src="../static/images/ksh34.png">
                            <div class="clear"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="visual_con">
            <div class="visual_conBot">
                <img class="visual_conBot_l" src="../static/images/ksh42.png">
                <img class="visual_conBot_2" src="../static/images/ksh43.png">
                <img class="visual_conBot_3" src="../static/images/ksh44.png">
                <img class="visual_conBot_4" src="../static/images/ksh45.png">
                <div class="visual_chart_text">
                    <h1>地图</h1>
                </div>
                <div class="visual_chart" id="main8"></div>
            </div>

            <div class="visual_conTop" style="margin-top: 2%; background-color: rgba(16, 54, 87, 0.5);">
                <div class="visual_conBot_bot">
                    <div class="visualSssf_left">
                        <h3>待定</h3>
                    </div>
                    <div class="visualSssf_right">
                        <div class="visualSssf_right_box" id="main5"></div>
                        <div class="visualSssf_right_box" id="main6"></div>
                        <div class="visualSssf_right_box" id="main7"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="visual_right">
            <div class="visual_box visual_box_wordcloud">
                <div class="visual_title">
                    <span>词云图</span>
                    <img src="../static/images/ksh33.png">
                </div>
                <div class="swiper-container visual_swiper1 visual_chart" style="width: 100%; height: 100%;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="wordcloud"></div>
                    </div>
                </div>
            </div>

            <div class="visual_box visual_box_ai">
                <div class="visual_title">
                    <span>AI 对话</span>
                    <img src="../static/images/ksh33.png">
                </div>
                <div class="swiper-container visual_swiper2 visual_chart">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="main4">
                            <!-- 对话框位置 -->
                            <div id="chat-container">
                                <div id="chat-box" class="chat-box"></div>
                                <div class="chat-input-area">
                                    <input type="text" id="user-input" placeholder="请输入问题..." />
                                    <button onclick="sendMessage()" style="white-space: nowrap;">发送</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide" id="main41"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

</body>
<script type="text/javascript">
    $(function () {
        var a = $('.visualSssf_left a')
        for (var i = 0; i < a.length; i++) {
            a[i].index = i;
            a[i].onclick = function () {
                for (var i = 0; i < a.length; i++) {
                    a[i].className = ''
                }
                this.className = 'active'
            }
        }

        var sfzcllH = $('.sfzcll_box').height()
        var sfzcllHtwo = sfzcllH - 2
        $('.sfzcll_box').css('line-height', sfzcllH + 'px')
        $('.sfzcll_smallBk>div').css('line-height', sfzcllHtwo + 'px')

        //删除加载动画
        $('#load').fadeOut(1000)
        setTimeout(function () {
            $('#load').remove()
        }
            , 1100);
    })
</script>

<script src="../static/js/wordcloud.js"></script>

</html>